body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: black;
}

.postal{
    background-color: white;
    border:20% 30%;
    margin: auto ;
    width: 600px;
}

.postal-header{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
}

.postal-header .subtitle{
    display: flex;
    flex-direction:column;
}

.postal-imagen {

    margin: auto;
    max-width: 600px;
    object-fit: cover;
    overflow: hidden; 
}

.postal-contenido-icons{
    display: flex;
    justify-content: space-between;
    
    
}

.postal-contenido-icons-left{
    
    background-color: red;
    justify-self: flex-start;
}
.postal-contenido-icons-right{
    
    background-color: green;
    justify-self: flex-end;
}