body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: black;
}

.postal{
    background-color: white;
    border:20% 30%;
    margin: auto ;
    width: 600px;
}

.postal-header{
    display: flex;
    justify-content: space-between;
    
    padding: 2%;
    
}

.postal-header-left{
    border:1px solid #da2e2e;
    flex-direction: row;
    
}


.postal-header-left-one{
    border:1px solid #000;
    font-size: 4.0em;
    
}

.postal-header-left-two h2{
    border:1px solid #000;
    font-size: 1.0em;
    
}

#subtitle-bold {
    font-weight: bold;
      
}

.postal-header-right{
    border:1px solid #000;
    font-size: 4.0em;
    
}


.postal-imagen {

    margin: auto;
    max-width: 600px;
    object-fit: cover;
    overflow: hidden; 
}

.postal-contenido{
    padding: 2%;   
    
}

.postal-contenido-icons{
    display: flex;
    justify-content: space-between;
    font-size: 1.75em;
     
    
}
.postal-contenido-icons-left{
    
    background-color: white;
    justify-self: flex-start;
    
}
.postal-contenido-icons-right{
    
    background-color: white;
    justify-self: flex-end;
}